In [2]:
!pip install pandas

Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (1.0.5)
Requirement already satisfied: numpy>=1.13.3 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.18.5)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2020.1)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas) (1.15.0)

In [3]:
import pandas as pd
import numpy as np

# Task: 
Creating 10 dictionaries and converting to dataframe and access values using forward & reverse indexing.

In [29]:
colors =["blue","red","yellow","orange","pink","green", "black", "violet", "purple","grey"]
num =[1,2,3,4,5,6,7,8,9,10]

data = {'Name':colors,'rank':num}
print(data)

df = pd.DataFrame(data)
df

{'Name': ['blue', 'red', 'yellow', 'orange', 'pink', 'green', 'black', 'violet', 'purple', 'grey'], 'rank': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]}

     Name  rank
0    blue     1
1     red     2
2  yellow     3
3  orange     4
4    pink     5
5   green     6
6   black     7
7  violet     8
8  purple     9
9    grey    10

In [38]:
#accessing the 3rd value
result = df.iloc[2]
result

Name    yellow
rank         3
Name: 2, dtype: object

In [63]:
#accessing the 5th value
result = df.iloc[[4]]
result

   Name  rank
4  pink     5

In [68]:
#accessing the last 6 values using reverse indexing
result = df.iloc[:3:-1]
result

     Name  rank
9    grey    10
8  purple     9
7  violet     8
6   black     7
5   green     6
4    pink     5